pipeline/102_second.json
{
	"name": "102_second",
	"properties": {
		"activities": [
			{
				"name": "master_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Secondcsvdataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_master",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "master_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('master_files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "date_master",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AdditionalColumnValue",
								"value": {
									"value": "@concat(substring(item().name,20,4),'-',substring(item().name,24,2),'-',substring(item().name,26,2))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data_master",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "date_master",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "file_master",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "keydate",
											"value": {
												"value": "@variables('AdditionalColumnValue')",
												"type": "Expression"
											}
										},
										{
											"name": "date",
											"value": {
												"value": "@variables('addfile')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SalesDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ProductId",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductId",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Rate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Rate",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "Qty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Qty",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Sales",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "keydate",
												"type": "String"
											},
											"sink": {
												"name": "datekey",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "String"
											},
											"sink": {
												"name": "date",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "secondCSVfiledataset",
									"type": "DatasetReference",
									"parameters": {
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "secondSQLtable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "file_master",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "addfile",
								"value": {
									"value": "@substring(item().name,20,8 )",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"AdditionalColumnValue": {
				"type": "String"
			},
			"addfile": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-27T19:00:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}