pipeline/append_variablepipeline.json
{
	"name": "append_variablepipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.country",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "for_append",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "countryoutput",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "countryname",
					"value": {
						"value": "@variables('countryoutput')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"country": {
				"type": "array",
				"defaultValue": [
					"india",
					"US",
					"CHINA",
					"UK"
				]
			}
		},
		"variables": {
			"countryoutput": {
				"type": "Array"
			},
			"countryname": {
				"type": "Array"
			},
			"x": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-22T20:37:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}