pipeline/incrementaldata_watermark2_copy2.json
{
	"name": "incrementaldata_watermark2_copy2",
	"properties": {
		"activities": [
			{
				"name": "watermark_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from sagar.water_mark ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "lookup_watermark",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "lookup_value_watermark",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "watermark_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('watermark_lookup').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@item().isactive",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "full load pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "full_load_incremental",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "incremental pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "incrementaldata_watermark2",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-01T13:38:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}