pipeline/lookup_vs_getmetadata.json
{
	"name": "lookup_vs_getmetadata",
	"properties": {
		"activities": [
			{
				"name": "to_look_into_csv",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "csv_to_other",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "to_fetch_value_only",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "to_look_into_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('to_look_into_csv').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "store_address",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "x",
								"value": {
									"value": "@item().location",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-22T20:37:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}