pipeline/pl_inc_copy.json
{
	"name": "pl_inc_copy",
	"properties": {
		"activities": [
			{
				"name": "lkp_oldwatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select tablename,watermarkvalue from dbo.watermark where tablename='@{pipeline().parameters.Tablename}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_target",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "lkp_newwatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.WaterMarkColumn}) as NewWaterMarkValue from @{pipeline().parameters.Tablename}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_SOURCE",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_oldwatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_newwatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.Tablename}\nwhere @{pipeline().parameters.WaterMarkColumn}>'@{activity('lkp_oldwatermarkvalue').output.firstRow.watermarkvalue}'\nand @{pipeline().parameters.WaterMarkColumn} <='@{activity('lkp_newwatermarkvalue').output.firstRow.newwatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PurchaseID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PurchaseID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProductName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "Price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "PurchaseDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PurchaseDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_SOURCE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DB_SQL_SINK",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@pipeline().parameters.Tablename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SP_setwatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_set_water]",
					"storedProcedureParameters": {
						"newtime": {
							"value": {
								"value": "@activity('lkp_newwatermarkvalue').output.firstRow.NewWaterMarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"tablename": {
							"value": {
								"value": "@activity('lkp_oldwatermarkvalue').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "leonprimetarget",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Tablename": {
				"type": "string",
				"defaultValue": "Purchase"
			},
			"WaterMarkColumn": {
				"type": "string",
				"defaultValue": "PurchaseDate"
			}
		},
		"annotations": []
	}
}